html {
overflow: scroll;    
    
    }

body{
    margin: 0;
    padding: 0;
    background-image: url(../Lagrek/fon.png);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

header{
     width: 100%;
     height: 100px;
     float: left;
     margin-left: 850px;
}
.st_for_txt {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Mali', cursive;
}
